/* Variales */

:root {
    /*fonts*/
    --main-font: "Roboto", sans-serif;

    /*colors*/
    --color-black: #111111;
    --color-white: #FFFFFF;
    --color-grey: #434455;
    --color-svg: #f4f4fd;
    --color-blue-a: #4d5ae5;
}

/*global*/
body {
    font-family: var(--main-font);
    line-height: 1.5;
    color: var(--color-grey);
    background-color: #fff;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;

}

p {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    font-family: inherit;
    color: currentColor;
}

input {
    font-family: inherit;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}



/* Header */
/* У хедера є нижня рамка, необхідно сильно наблизити макет, щоб побачити її. */
.page-header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow:
        2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.navigation .logo {
    margin-right: 76px;
    padding: 24px 0;
}

.logo span {
    color: #2e2f42;
}

.top-menu {
    font-weight: 500;
    letter-spacing: 0.02em;
    display: flex;
    gap: 40px;
}

.navigation .top-menu .top-menu-item {
    color: #000000;
    display: block;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation .top-menu .top-menu-item:hover,
.navigation .top-menu .top-menu-item:focus {
    color: #404BBF;
}

.navigation .top-menu .top-menu-item.current {
    color: #404BBF;
}

.top-menu-item.current::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
    position: absolute;
    left: 0;
    bottom: -1px;
}

/* .menu-item:first-child{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */


/* Address */
.address .menu-contacts {
    font-style: normal;
    display: flex;
    gap: 40px;
}

.contact-li {
    margin-right: 40px;
}

.contact-link {
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-contacts:last-child li {
    margin-right: 0;
}

.contact-link:hover,
.contact-link:focus {
    color: #404BBF;
}


/*
All sections
*/
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}






/* 
Main -> Section main-page - 1
*/

.main-page {
    background-color: #2E2F42;
    padding: 188px 0;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    margin: 0 auto;
}

.section .main-page-header {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    /*border: 1px dashed white;*/
    max-width: 496px;
    margin: 0 auto;

}

.section.main-page .main-button {
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4D5AE5;
    margin-top: 68px;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    display: block;
    margin: 48px auto 0;
    min-width: 169px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section.main-page .main-button:hover,
.section:first-child .main-button:focus {
    background-color: #404BBF;
    cursor: pointer;
}

/* 
Main -> Section our-benefits - 2
*/
.section.benefits {
    padding: 120px 0 120px 0;
}

.section.benefits .section-header {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;

}

.benefits-list .benefit-item {
    flex-basis: calc((100% - 24px) / 4);
}

.icon-thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8E8F99;
    background-color: #F4F4FD;
    border-radius: 4px;
    margin-bottom: 8px;
    height: 112px;
}

.benefits-list .benefits-header {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.benefits-list .benefits-paragraph {
    color: #434455;
    letter-spacing: 0.02em;
    font-size: 16px;
    text-align: left;
}

/* 
Main -> Section our-team - 3
*/

.section.team {
    background-color: #F4F4FD;
    padding: 120px 0 120px 0;

}

.section.team .section-header {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-member {
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    flex-basis: calc((100% - 72px) / 4);
    box-shadow:
        0px 3px 3px -2px rgba(0, 0, 0, 0.2),
        0px 3px 4px 0px rgba(0, 0, 0, 0.14),
        0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

.team-member:first-child {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-member .thumb {
    padding: 32px 0;

}

.team-header {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.team-paragraph {
    color: #434455;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.icon-list {
    display: flex;
    gap: 24px;
    justify-content: center
}

.icon-list .icon-item a {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-list .link {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-list .link:hover,
.icon-list .link:focus {
    background-color: #404bbf;
    cursor: pointer;
}

.icon-social {
    fill: var(--color-svg);
}

/*
Main -> Section our-portfolio - 4
*/

.section.portfolio {
    color: #434455;
    font-size: 36px;
    line-height: 1.11;
    padding: 120px 0 120px 0;
}

.section.portfolio .section-header {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    column-gap: 24px;
    row-gap: 48px;
}

.porfolio-item {
    width: calc((100% - 48px)/3);
    position: relative;
    overflow: hidden;
    transition: transform 250ms ease-in-out;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.porfolio-item:hover,
.porfolio-item:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/* Image */

.image-application {
    position: relative;
    overflow: hidden;
}

/* Overlay text over portfolio item */
.overlay {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    background-color: #4D5AE5;
    color: var(--color-svg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.porfolio-item:hover .overlay,
.porfolio-item:focus .overlay {
    transform: translateY(0%);
    height: 100%;
}


/* Thumb */
.porfolio-item .thumb {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    transform: cursor;
    transition: transform 250ms ease-in-out;
}

.porfolio-item .thumb:hover,
.porfolio-item .thumb:focus {
    cursor: pointer;
}

/*  */

.portfolio-list .porfolio-item-header {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.portfolio-list .porfolio-item-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}




/* Footer */

.page-footer {
    color: #F4F4FD;
    background-color: #2E2F42;
    padding: 100px 0;
}

.page-footer .container p {
    max-width: 264px;
}

.page-footer .container {
    display: flex;
    gap: 80px;
    align-items: baseline;
    justify-content: space-evenly;
}

.message-footer {
    /* margin-right: 120px; */
}

.page-footer .logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.page-footer .logo .logo-studio {
    color: #f4f4fd
}

.page-footer .footer-paragraph {
    letter-spacing: 0.02em;
}

/* #region Social media */
.social-footer-links {
    /* padding-left: 40px; */
}

.social-description {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-icon-list {
    display: flex;
    gap: 16px;
}

.footer-icon-list .icon-item {
    width: 40px;
    height: 40px;
}

.icon-item a:hover,
.icon-item a:focus {
    background-color: #31D0AA;
    cursor: pointer;
}

.icon-item a {
    width: 100%;
    height: 100%;
    background-color: var(--color-blue-a);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-list .icon:hover,
.footer-icon-list .icon:focus {
    background-color: #31D0AA;
    cursor: pointer;
}

.footer-icon {
    fill: var(--color-svg);
}

/* #endregion */

/* #region Footer subscribe form */
.subscribe-footer {}

.feedback-form {
    display: flex;
    align-items: flex-end;
    gap: 24px;
}

.feedback-label-input {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.feedback-input {
    width: 264px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: inherit;
    color: #fff;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04;
    padding: 8px 0 8px 16px;
}

.feedback-input::placeholder {
    color: #fff;
}

.feedback-input:placeholder-shown {
    /* border: 1px solid 404BBF; */
}

.feedback-input:hover::placeholder,
.feedback-input:focus::placeholder {
    /* color: #404BBF; */

}

.wraper-feedback-btn {}

.feedback-btn {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04;
    max-width: 165px;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    background-color: var(--color-blue-a);
    color: inherit;
    border-radius: 4px;
    padding: 8px 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.feedback-btn:hover,
.feedback-btn:focus {
    background-color: #404BBF;
    cursor: pointer;
}

/* #endregion */

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms ease-in-out;
}

.modal {
    background-color: white;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 408px;
    max-height: 80%;
    overflow-y: auto;
}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}


.footer-icon {
    align-self: flex-end;
    margin-bottom: 24px;
}

.modal_header {
    margin-bottom: 16px;
}

.modal-form {

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.modal-form-label {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 1.17;
    margin-bottom: 4px;
}

.icon-input {
    width: 26px;
    height: 26px;
    /* line-height: 26px;
    text-align: center; */
    /* margin-right: -26px; */
    position: relative;
    top: 33px;
    left: 16px;
    z-index: 1;
    float: left;
}

.modal-form-input {
    width: 360px;
    height: 40px;
    border: 1px solid #2F4266;
    border-radius: 4px;
    padding-left: 26px;
}

.modal-form-input:focus,
.modal-form-input:hover,
.modal-form-input:active {

    border: 1px solid blue;
}

.form-input:placeholder-shown {
    border-color: blue;
}

.modal-form-comment {
    width: 360px;
    border: 1px solid #2E2F4266;
    border-radius: 4px;
}

.checkbox-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
}

.modal-form-checkbox {
    margin-right: 8px;
}

.privacy-policy-descr {
    font-size: 12px;
    letter-spacing: 0.04;
    line-height: 1.17;
    color: #757575;
}

.privacy-policy-link {
    text-decoration: underline;
    color: var(--color-blue-a);
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04;
}

.modal-form-btn {
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 169px;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    background-color: var(--color-blue-a);
    color: #fff;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}